@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&display=swap');

$font-header: 'Sacramento',
cursive;
$font-content: 'Lato',
sans-serif;

$color01: #8D5E3F;
$color02: #A27A5D;
$color03: #B7957B;
$color04: #CCB099;

$tablet: 768px;
$desktop: 1200px;