@import "~normalize.css";
@import "_variables";
@import "_animations";
@import "modules/gallery.scss";


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("../assets/img/makramy_hero.jpg");
    opacity: 0.5;
  }

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $color04;
    opacity: 0.2;
  }

  &__title {
    font-family: $font-header;
    font-size: 80px;
    font-weight: 400;
    color: $color01;
    transform: translateY(-70px);
    z-index: 10;

    @media (min-width: $tablet) {
      font-size: 140px;
    }

    @media (min-width: $desktop) {
      font-size: 160px;
      transform: translateY(0);
    }
  }

  &__arrow {
    position: absolute;
    left: 50%;
    bottom: 60px;
    z-index: 10;
    animation: arrow-down 1.2s infinite;
  }
}

.arrow-down {
  height: 50px;
  transform: translate(-50%, -85px);

  @media (min-width: $tablet) {
    height: 70px;
  }

  @media (min-width: $desktop) {
    height: 80px;
    transform: translate(-50%, 0);
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: $font-header;
    font-size: 60px;
    font-weight: 400;
    margin: 40px 0 10px;
    color: $color01;

    @media (min-width: $desktop) {
      font-size: 80px;
      margin: 140px 0 30px;
    }
  }

  &__description {
    font-family: $font-content;
    font-style: italic;
    font-size: 13px;
    letter-spacing: 0.08rem;
    line-height: 30px;
    text-align: center;
    color: $color03;
    margin: 0;
    padding: 0 30px;

    @media (min-width: $tablet) {
      max-width: 900px;
      padding: 0 70px;
    }

    @media (min-width: $desktop) {
      font-size: 16px;
      max-width: 1000px;
      letter-spacing: 0.12rem;
      line-height: 36px;
    }
  }
}

.macrame {
  &__wrapper {
    @media (min-width: $tablet) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-bottom: 45px;
      padding: 0 0 0 3vw;
      flex-shrink: 0;
    }

    @media (min-width: $desktop) {
      justify-content: space-between;
      padding: 0 0 0 6vw;
      margin-bottom: 70px;
    }

    &--reverse {
      @media (min-width: $tablet) {
        flex-direction: row;
        padding: 0 3vw 0 0;
      }

      @media (min-width: $desktop) {
        padding: 0 6vw 0 0;
      }
    }
  }

  &__photo {
    width: 100vw;

    @media (min-width: $tablet) {
      width: 50%;
    }
  }

  &__description {
    display: block;
    font-family: $font-content;
    font-style: italic;
    font-size: 13px;
    letter-spacing: 0.08rem;
    line-height: 30px;
    text-align: center;
    color: $color02;
    margin: 3% 0;
    padding: 0 30px;
    align-self: stretch;

    @media (min-width: $tablet) {
      margin: 2% 0;
      padding: 0 3vw;
      background-color: $color05;
      display: flex;
      align-items: center;
    }

    @media (min-width: $desktop) {
      font-size: 16px;
      letter-spacing: 0.12rem;
      line-height: 36px;
      margin: 3% 0;
      padding: 0 8vw;
    }
  }
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 120px;
  margin: 40px 0 80px;

  @media (min-width: $desktop) {
    margin: 70px 0 100px;
  }

  &__link {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: $color03;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__svg {
    height: 55%;
    width: 55%;
    opacity: 0.8;
    transition: .2s;
  }

  &__link:hover &__svg {
    opacity: 1;
  }
}